name: CI & SonarCloud

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - run: |
          go test ./... -coverprofile=coverage.out
          go tool cover -func=coverage.out

      # - name: SonarCloud Scan
      #   uses: sonarsource/sonarcloud-github-action@v1 # ??????
      #   env:
      #     SONAR_TOKEN: 232a7746968d122344c96002d97d08dddb1b4c3e   # Needed for SonarCloud
      #   with:
      #     organization: SEP-arguspanoptes             # the SonarCloud org key
      #     projectKey: SEP-ArgusPanoptes_terraform-registry
      #     projectName: terraform-registry
      #     extra-args: |
      #       -Dsonar.sources=.
      #       -Dsonar.go.coverage.reportPaths=coverage.out

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v5 # ??????
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=SEP-ArgusPanoptes_terraform-registry
            -Dsonar.go.coverage.reportPaths=coverage.out
          # organization: SEP-arguspanoptes             # the SonarCloud org key
          # projectKey: SEP-ArgusPanoptes_terraform-registry
          # projectName: terraform-registry
          # extra-args: |
          #   -Dsonar.sources=.
          #   -Dsonar.go.coverage.reportPaths=coverage.out
        env:
          SONAR_TOKEN: 232a7746968d122344c96002d97d08dddb1b4c3e   # Needed for SonarCloud